<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Garage 3.0</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="~/Garage/Index"><img src="~/Content/logo.svg" width="24" height="24" />Garage 3.0</a>
                </div>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manage", "Manage", "Garage")</li>
                    <li>@Html.ActionLink("History", "History", "Garage")</li>
                    <li>@Html.ActionLink("API", "Api", "Garage")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="navbar bottom ">
        <div class="container">
            <span class="navbar-brand"><small>&copy; @DateTime.Now.Year - Mårten, Nikola &amp; Martin</small></span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/i18n/angular-locale_sv-se.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script>
        window.garage = {}
        garage.rootPath = '@Url.Content("~")';
        garage.parseMSDate = function (s) {
            if (!s) return null;
            return new Date(parseInt(s.substr(6)));
        };
    </script>
    <script src="~/App/base.js"></script>
    @RenderSection("scripts", false)
</body>
</html>